#catalog {
    background-color: var(--main-blue);
}

/* header-logo */
.header-logo img {
    max-width: 14rem;
    max-height: 12rem;
}

/* header-catalog */
.header-catalog {
    background: linear-gradient(90deg, var(--main-blue), #4f88de);
    text-align: center;
    border: none;
    color: var(--white);
    border-radius: 0.6rem;
    font-size: 1.5rem;
    padding: 1.4rem 2.4rem;
    transition: var(--transition-normal);
}

.header-catalog:hover {
    background: var(--white);
    border: var(--main-blue) solid 0.19rem;
    color: var(--main-blue);
}

/* header-search */
.header-search {
    display: flex;
}

.header-search input {
    width: 89%;
    height: 4rem;
    border: 0.2rem solid var(--main-blue);
    border-start-start-radius: 0.6rem;
    border-end-start-radius: 0.6rem;
    margin-right: 0;
    padding-left: 1.4rem;
}

.header-search input:focus {
    outline: none;
}

.header-search button {
    background: linear-gradient(90deg, var(--main-blue), #4f88de);
    border-end-end-radius: 0.6rem;
    border-start-end-radius: 0.6rem;
    width: 11%;
    font-size: 1.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

/* header-btn-icon */

.header-guest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;
}

.guest-link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 480;
    transition: var(--transition-normal);
}

.guest-link:hover {
    font-size: 1.4rem;
    color: var(--main-blue);
}

.col-flex {
    display: flex;
    align-items: center;
}

/* Dropdown */

.dropdown-menu {
    padding: 12px 6px 12px 4px !important;
}

.dropdown-menu a {
    font-size: 1.6rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
