body {
    background: linear-gradient(55deg, rgb(18, 173, 173) 10%, rgb(48, 48, 129) 90%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
body .row:first-child {
    height: 10vh;
}
.container .profile{
    height: 90vh;
}